[submodule "apps-src/UK-Gebaerden_Muensterland"]
	path = apps-src/UK-Gebaerden_Muensterland
	url = https://github.com/foxycom/UK-Gebaerden_Muensterland
[submodule "apps-src/AnyMemo"]
	path = apps-src/AnyMemo
	url = https://github.com/foxycom/AnyMemo
[submodule "apps-src/Omni-Notes"]
	path = apps-src/Omni-Notes
	url = https://github.com/foxycom/Omni-Notes
